[submodule "Prolog-Library-Collection"]
	path = Prolog-Library-Collection
	url = https://github.com/wouterbeek/Prolog-Library-Collection.git
	branch = master
[submodule "plRdf"]
	path = plRdf
	url = https://github.com/wouterbeek/plRdf.git
	branch = master
[submodule "plSparql"]
	path = plSparql
	url = https://github.com/wouterbeek/plSparql.git
[submodule "plGraph"]
	path = plGraph
	url = https://github.com/wouterbeek/plGraph.git
[submodule "plTree"]
	path = plTree
	url = https://github.com/wouterbeek/plTree.git
