[submodule "ModelTheory"]
	path = ModelTheory
	url = https://github.com/wouterbeek/ModelTheory.git
[submodule "Prolog-Library-Collection"]
	path = Prolog-Library-Collection
	url = https://github.com/wouterbeek/Prolog-Library-Collection.git
	branch = master
[submodule "plDcg"]
	path = plDcg
	url = https://github.com/wouterbeek/plDcg.git
[submodule "plGraph"]
	path = plGraph
	url = https://github.com/wouterbeek/plGraph.git
[submodule "plGraphDraw"]
	path = plGraphDraw
	url = https://github.com/wouterbeek/plGraphDraw.git
[submodule "plGraphViz"]
	path = plGraphViz
	url = https://github.com/wouterbeek/plGraphViz.git
[submodule "plHtml"]
	path = plHtml
	url = https://github.com/wouterbeek/plHtml.git
[submodule "plHttp"]
	path = plHttp
	url = https://github.com/wouterbeek/plHttp.git
[submodule "plLangTag"]
	path = plLangTag
	url = https://github.com/wouterbeek/plLangTag.git
[submodule "plLatticeDraw"]
	path = plLatticeDraw
	url = https://github.com/wouterbeek/plLatticeDraw.git
[submodule "plRdf"]
	path = plRdf
	url = https://github.com/wouterbeek/plRdf.git
	branch = master
[submodule "plSet"]
	path = plSet
	url = https://github.com/wouterbeek/plSet.git
[submodule "plSparql"]
	path = plSparql
	url = https://github.com/wouterbeek/plSparql.git
[submodule "plSvg"]
	path = plSvg
	url = https://github.com/wouterbeek/plSvg.git
[submodule "plTms"]
	path = plTms
	url = https://github.com/wouterbeek/plTms.git
[submodule "plTree"]
	path = plTree
	url = https://github.com/wouterbeek/plTree.git
[submodule "plTreeDraw"]
	path = plTreeDraw
	url = https://github.com/wouterbeek/plTreeDraw.git
[submodule "plUri"]
	path = plUri
	url = https://github.com/wouterbeek/plUri.git
[submodule "plXml"]
	path = plXml
	url = https://github.com/wouterbeek/plXml.git
[submodule "plXsd"]
	path = plXsd
	url = https://github.com/wouterbeek/plXsd.git

