{
  "data-directory": "DIRECTORY",
  "seedlist": {
    "authority": "AUTHORITY",
    "password": "PASSWORD",
    "scheme": "SCHEME",
    "user": "USER"
  },
  "tapir": {
    "client": "SCRIPT",
    "sites": {
      "SITE": {
        "host": "HOST",
        "token": "TOKEN",
        "user": "USER",
      }
    }
  },
  "workers": {
    "download": 1,
    "decompress": 1,
    "recode": 1,
    "parse": 1
  }
}
