{
  "data-directory": "DIRECTORY",
  "seedlist": {
    "authority": "AUTHORITY",
    "password": "PASSWORD",
    "scheme": "SCHEME",
    "user": "USER"
  },
  "tapir": {
    "client": "SCRIPT",
    "sites": {
      "SITE": {
        "host": "HOST",
        "token": "TOKEN",
        "user": "USER",
      }
    }
  },
  "workers": {
    "decompress": {
      "sleep": SECONDS,
      "threads": THREADS
    },
    "download": {
      "sleep": SECONDS,
      "threads": THREADS
    },
    "parse": :{
      "sleep": SECONDS,
      "threads": THREADS
    },
    "recode": {
      "sleep": SECONDS,
      "threads": THREADS
    }
  }
}
