[Unit]
Description=LOD-Laundromat

[Service]
UMask=022
Environment=LANG=en_US.utf8
Restart=on-abort
ExecReload=/bin/kill -s HUP $MAINPID
StartLimitInterval=60
LimitNOFILE=1000
WorkingDirectory=/home/wbeek/git/LOD-Laundromat
User=wbeek
ExecStart=/usr/bin/nice \
  /home/wbeek/bin/swipl \
  script/run_server.pl \
  --conf=conf/conf.json

[Install]
WantedBy=multi-user.target
